*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100%;
}
::-webkit-scrollbar{
    width: 0px;
}
::selection{
    background-color: #00D9A1;
    color: white;
}
::-moz-selection{
    background-color: #00D9A1;
    color: white;
}
body{
    font-family: 'Panamera', sans-serif;
    background: linear-gradient(178deg, #00d9a1, #f3102c);
    background-size: 400% 400%;
    -webkit-animation: BGGradient 19s ease infinite;
    -moz-animation: BGGradient 19s ease infinite;
    animation: BGGradient 19s ease infinite;
}

@-webkit-keyframes BGGradient {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes BGGradient {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes BGGradient {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
header, main, footer{
    max-width: 80%;
    margin: 0 auto;
}
header{
    padding-top: 2rem;
    margin-bottom: -1.5rem;
}
.logo{
    height: 35px;
    width: auto;
    margin-left: -.5rem;
}
main{
    background-color: white;
    padding: 2rem;
}
.content{
    padding-bottom: 8rem;
}
main a{
    color: #f3102c;
    text-decoration: underline;
}
main a:hover{
    color: #00D9A1;
    text-decoration: none;
}
h1,.h1{
    font-size: 4rem;
    font-weight: normal;
}
h2,.h2{
    font-size: 2rem;
    font-weight: normal;
}
h3,.h3{
    font-size: 1.5rem;
    font-weight: normal;
}
footer{
    font-family: 'Helvetica', sans-serif;
    font-size: 95%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
    nav li{
    list-style-type: decimal;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vertical-flex li{
    list-style: none;
    display: inline-block;
}
@media(max-width: 800px){
    h1,.h1{
        font-size: 2.5rem;
        font-weight: normal;
    }
    footer{
      flex-direction: column;
      padding-left: 1rem;
    }
    nav{
        padding-top: 1rem;
    }
}