@font-face{
    font-family: 'Panamera';
    src: url('Panamera-Regular.woff2');
    font-weight: normal;
}
@font-face{
    font-family: 'Panamera';
    src: url('Panamera-Bold.woff2');
    font-weight: bold;
}
